body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
.welcome:hover{
	color:black;
	transition:0.5s ease;
}

body{
margin:0;
overflow-x:hidden;
}

.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
opacity:0.8;
}

.homeh1{
font-size:50px;
color:chocolate;
text-align:left;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

@media screen and (max-width: 300px) {
  .homenav,.packnav,.signupnav{
    float: none;
    width: 100%;
  }
}

.booking{
text-align:center;
border: 1px black dashed;
position:absolute;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}

.welcome{
	font-family:Franklin Gothic Heavy;
	color:#ebb283;
	margin-right:500px;	
}

.homenav{
	background-color:#ebb283;
	padding: 10px;
	border-radius: 50px;
	margin:40px;
}

.packnav{
	background-color: #ebb283;
	padding: 10px;
	border-radius: 50px;
	margin:40px;
}

.signupnav{
	background-color: #ebb283;
	padding: 10px;
	border-radius: 50px;
	margin:40px;
}

.booknav{
	background-color: #ebb283;
	padding: 10px;
	border-radius: 50px;
	margin:40px;
}



.discover{
	text-decoration:none;
	color:#ebb283;
	font-family:Franklin Gothic Heavy;
	margin-left:-5%;
	border:1px solid black;
	border-radius:20px;
	padding:20px;
	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.5); 
	transition: 0.8s ease;
	opacity:0.7;
}


.discover:hover{
	color:white;
	opacity:1;
}


body h1{
	margin-left:500px;
	margin-top:100px;

}

.homeimg{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-width:60px;
	min-height:60px;
}

.text-block{
	 position: absolute;
	 bottom: 20px;
 	 right: 20px;
	 top:20px;
	 left:20px;
 	 background-color: none;
  	 color: white;
  	 padding-left: 20px;
  	 padding-right: 20px;
	 
}

form{
	border: 2px white solid;
	margin: 150px;
	background-color:white;
	opacity:0.8;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding-right:20;
	display: flex;
	justify-content: flex-start;
}

nav ul li {
	margin-right: 30px;
	padding-right: 160px;
	font-family:Helvetica;
}

body header nav ul li a:hover {
	color:chocolate;
}

::selection{
 	color: chocolate;
 }

div form{
	margin:100px;
}

div form button{
	margin-left:360px;
}

div form h1{
	margin-left:350px;
}

.bgimg{
	background-image: url("https://wallpaperaccess.com/full/4287258.jpg");
	backgroung-color: white;
	min-height: 400px;
	min-width:10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-left:100px;
	padding-right:100px;
}

.bookings{
	background-image: url("https://wallpapercave.com/wp/wp4128800.jpg");
	backgroung-color: black;
	min-height: 400px;
	min-width:10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-left:100px;
	padding-right:100px;
}

form.container{
	margin-top:50px;
	min-height:395px;
}

nav ul li a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

main {
	padding: 50px;
	text-align: center;
}

main h1 {
	font-size: 48px;
	margin-bottom: 20px;
	font-family:Helvetica;
	margin-right:480px;
	
}

p {
	font-size: 35px;
	margin-bottom: 50px;
	font-family: Mistral;
}

.listing {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 30px;
	background-color:ivory;
	opacity: 0.9;
	border-color: none; 
}

.listing h2 {
	font-size: 36px;
	margin-bottom: 10px;
}

.listing p {
	font-size: 18px;
	margin-bottom: 20px;
}

button {
	background-color: lightblue;
	color: black;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	box-shadow: 0px 5px 5px #e1e1e1;
}

button:hover {
	background-color: #ff665e;
	color: white;
}